@charset "UTF-8";
*{margin:0px;padding:0px;}

/* header */
.header{width:100%;height:60px;background:black;font-family:"";font-size:18px;color:white;}
.left{float:left;width:20%;background:black;height:60px;}
.right{float:right;width:80%;heigth:60px;background:black;}
.header .logo{width:180px;height:60px;}
.header .head-ul{width:100%;background:black;line-height:60px;list-style:none;;}
.header .head-ul li{width:100px;float:left;height:60px;}
.header .head-ul-li2{display:;}
.header .head-ul .login{float:right;width:200px;}

/* end */
.end{width:100%;height:80px;background:black;font-size:14px;color:#C0C0C0;padding-top:10px;}
.end p{text-align:center;line-height:30px;font-family:"楷体";font-size:15px;}

/* 所有a */
a:link, a:visited {color:#CC6600;text-decoration: none;}
a:hover {position: relative;top: 1px;left: 1px;}
a:action {}

/* 内容 */
.information{width:100%;height:590px;background:#C0C0C0;padding-top:20px;}
.information .con{width:1300px;height:550px;margin:0px auto;background:white;border-radius:0px;padding-top:25px;}
p{padding-left:45px;}
.information .con .div_table{width:500px;margin:10px auto;background:;}
/*原来 table{width:px;margin:25px 100px;;border-collapse:separate;border-spacing:10px;background:;font-size:21px;font-family:"楷体";} */
table{text-align:center;width:100%;margin:;border-collapse:separate;border-spacing:10px;background:;font-size:21px;font-family:"楷体";}
/*原来 table td{width:150px;height:30px;background:yellow;} */
table tr{width:;}
table td{width:;height:30px;background:#AEDD81;}
table .otd{width:90px;height:30px;background:#84AF9B;}
table td input{width:100%;height:100%;font-size:17px;}